{% extends 'base.html.twig' %}

{% block title %}Postagens{% endblock %}

{% block main %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <h3 class="text-3xl font-bold mt-10 mb-4">Interactive form</h3>
    <hr class="h-[1px] bg-gray-400 mb-5 border-none"/>
    <span {{ vue_component('InteractiveForm', {'initialInput': 'teste'}) }}></span>

    <h3 class="text-3xl font-bold mt-10 mb-4">Cards</h3>
    <hr class="h-[1px] bg-gray-400 mb-6 border-none"/>
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        {% for post in posts %}
            <span {{ vue_component('Card', { 'title': post.title, 'content': post.content, 'url': path('app_show', {slug: post.title}) }) }}></span>
        {% else %}
            <h3>Nenhuma postagem encontrada</h3>
        {% endfor %}
    </div>
{% endblock %}